{% if show_android %}
  <small class="download-other os_android">
    {% if channel == 'alpha' -%}
      {% for plat in builds -%}
        {% if plat.os == 'android' -%}
          <span class="arch {{ plat.arch }}"><a href="{{ plat.download_link }}">{{ plat.arch_pretty }}</a> |</span>
        {% endif -%}
      {% endfor -%}
    {% endif -%}
    <a href="{{ firefox_url('android', 'sysreq') }}">{{ _('Supported Devices') }}</a>
    {%- if channel == 'alpha' %}<br>{% else %} |{% endif %}
    {% if channel != 'alpha' %}
    <a href="{{ firefox_url('android', 'all', channel) }}">{{ _('Systems &amp; Languages') }}</a><br>
    {% endif %}
    <a href="{{ firefox_url('android', 'notes', channel) }}">{{ _('What’s New') }}</a> |
    <a href="{{ url('privacy.notices.firefox') }}">{{ _('Privacy') }}</a>
  </small>
{% endif %}
{% if show_ios %}
  <small class="download-other os_ios">
    <a href="{{ firefox_url('ios', 'sysreq') }}">{{ _('Supported Devices') }}</a> |
    <a href="{{ url('privacy.notices.firefox') }}">{{ _('Privacy') }}</a>
  </small>
{% endif %}
{% if show_desktop %}
  <small class="download-other download-other-desktop os_linux os_linux64 os_osx os_win os_win64">
    <a href="{{ firefox_url('desktop', 'all', channel) }}">{{ _('Systems &amp; Languages') }}</a> |
    <a href="{{ firefox_url('desktop', 'notes', channel) }}">{{ _('What’s New') }}</a> |
    <a href="{{ url('privacy.notices.firefox') }}">{{ _('Privacy') }}</a>
  </small>
{% endif %}
