@import "../../sandstone/lib.less";

* {
    box-sizing: border-box;
}
#wrapper {
    background-color: #04a2dc;
    width: 1400px;
}
h2 {
    .open-sans-light();
    font-size: 3rem;
}
main {
    margin: 0 auto;
    width: 1400px;
    text-align: center;
    h1 {
        &.huge {
            color: white;
            font-weight: 700;
        }
        span {
            font-weight: normal;
        }
    }
    h2, h3 {
        color: white;
    }
    .tagline {
        margin-bottom: .7em;
        .open-sans-light();
        font-size: 2rem;
        letter-spacing: -0.01em;
    }
    ul {
        text-align: center;
    }
}
/* Buttons */
.cta-button {
    background-color: #005189;
    border: 0;
    border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 1.4em;
    padding: .7em 3em;

}
.get-phone {
    display: block;
    margin: 0 auto 3em;
    width: 13em;
}
.fxos-hero-space {
    background: #0c99d5 url(/media/img/firefox/os-new/site-bg.png) 0 0 no-repeat;
    color: white;
    padding-top: 4em;
    height: 1250px;
    overflow: hidden;
    transition: height .5s;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
/* class is added to fxos-hero-space when switching to demo mode */
.trim-height {
    height: 900px;
}
.phone {
    position: relative;
    top: 0;
    margin: 0 auto;
    opacity: 1;
    transition: all .7s;
    h1 {
        margin-top: .5em;
    }
}
.scale {
    position: absolute;
    top: -808px;
    left: 192px;
    transform: scale(.3, .3);
    opacity: 0;
}
.demo {
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 3s;
    h2 {
        margin-bottom: 1em;
        font-size: 3.5em;
    }
    img {
        position: relative;
        left: 7px;
        z-index: 3;
    }
    .active-state {
        background-color: #e14164;
    }
    .close {
        position: absolute;
        top: -30px;
        right: 20px;
        background: transparent url(/media/img/firefox/os-new/icons/close.png) 0 0 no-repeat;
        width: 42px;
        height: 42px;
        span {
            .visually-hidden();
        }
    }
}
.demo,
.fxos-apps {
    ul,
    .app-group-selector {
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        list-style: none;
        li {
            display: inline;
            margin: 0;
            &:first-child a {
                border: 2px solid #71c4ea;
                border-radius: 6px 0 0 6px;
            }
            &:last-child a {
                border: 2px solid #71c4ea;
                border-left: 0;
                border-radius: 0 6px 6px 0;
            }
        }
        a {
            display: inline-block;
            background-color: #005189;
            color: white;
            padding: .5em 2em;
        }
    }
}
.homescreen,
.screens-sprite {
    position: absolute;
    top: 145px;
    left: 567px;
    clip: rect(0, 277px, 498px, 0);
    width: 277px;
    height: 498px;
    z-index: 2;
}
.scroll-homescreen {
    display: block;
    .homescreen {
        background: transparent url(/media/img/firefox/os-new/homescreen.png) 0 0 no-repeat;
    }
}
.scroll-homescreen.animate {
    .homescreen {
        animation-name: scroll-homescreen;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-timing-function: ease-in-out;
    }
}
.swipe-apps {
    display: none;
    img.wireframe-screens {
        position: absolute;
        top: 145px;
        left: 262px;
        z-index: 1;
    }
    .screens-sprite {
        background: transparent url(/media/img/firefox/os-new/screens-sprite.png) -310px 0 no-repeat;
    }
}
.swipe-apps.animate {
    img.wireframe-screens {
        animation-name: swipe;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-timing-function: ease-in-out;
    }
    .screens-sprite {
        animation-name: swipe-screens;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-timing-function: ease-in-out;
    }
}
.active {
    width: 100%;
    height: 640px;
    opacity: 1;
}
.fxos-help {
    .clearfix();
}
.fxos-features {
    background-color: white;
    padding: 5em 3em;
    .clearfix();
    h2, h3 {
        color: #333;
        margin-bottom: .5em;
    }
    h2 {
        margin-bottom: 1.2em;
    }
    h3 {
        margin-top: 1em;
    }
    .feature {
        display: inline-block;
        width: 29%;
        margin: 0 5% 0 0;
    }
    :last-child.feature {
        margin: 0;
    }
}
.fxos-apps,
.fxos-marketplace,
.fxos-help {
    background-color: #0c99d5;
    color: white;
}
.fxos-apps {
    padding: 5em 0;
    h2,
    .app-group-selector {
        margin-bottom: 5rem;
    }
}
.fxos-marketplace {
    li {
        display: inline-block;
        margin-left: 0;
        margin-right: 100px;
    }
    span {
        display: block;
    }
}
.fxos-news {
    background-color: #f2f2f2;
}
.fxos-community {
    background-color: white;
    color: #333;
}
.app-group-selector {
    li {
        display: inline;
        a:link,
        a:visited {
            display: inline-block;
            background-color: #005189;
            color: white;
            border: 2px solid #71c4ea;
        }
    }
}
ul.apps {
    margin: 0 auto;
    width: 1100px;
    li {
        display: inline-block;
        margin: 0 0 40px 70px;
    }
}
.apps-marketplace {
    margin: 0 auto;
    width: 1100px;
    li {
        display: inline-block;
        margin: 0 20px 40px 60px;
    }
}

@keyframes scroll-homescreen {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 -303px;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes swipe {
    0% {
        left: 262px;
    }
    15% {
        left: 262px;
    }
    40% {
        left: -50px;
    }
    65% {
        left: -357px;
    }
    70% {
        left: -50px;
    }
    75% {
        left: 262px;
    }
    90% {
        left: 571px;
    }
}
@keyframes swipe-screens {
    0% {
        background-position: -310px 0;
    }
    15% {
        background-position: -310px 0;
    }
    40% {
        background-position: -621px 0;
    }
    65% {
        background-position: -926px 0;
    }
    70% {
        background-position: -621px 0;
    }
    75% {
        background-position: -310px 0;
    }
    90% {
        background-position: 0 0;
    }
}
