{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base-resp.html" %}

{% block body_id %}privacy{% endblock %}

{% block page_title %}Your Privacy{% endblock %}

{% block extrahead %}
  {{ css('privacy') }}
{% endblock %}

{% block body_class %}sand{% endblock %}

{% block content %}

<hgroup>
    <h1>Firefox Privacy Notice</h1>
</hgroup>

<article id="main-content" role="main">
    <p>Mozilla is an open organization. We want your browsing experience with Firefox to be as private as you want it to be.</p>
    <p>To learn more about how we handle your data, read the <a href="">Mozilla Privacy Policy</a></p>
    <h2>Things you should know</h2>
    <section>
        Firefox <em>automatically</em> sends data to <strong>Mozilla</strong> to keep Firefox updated and deliver content for your start page. <a href="">Learm more</a>.
    </section>
    <section>
        Firefox <em>automatically</em> sends data to <strong>service providers</strong> to provide safe browsing and SSL certification. <a href="">Learm more</a>.
    </section>
    <button class="button">Other Firefox features</button>
</article>

{% endblock %}

{% block email_form %}{% endblock %}
