{% extends "sand.html" %}

{% block body_id %}privacy{% endblock %}

{% block page_title %}Privacy Policy{% endblock %}

{% block extrahead %}
  {{ css('privacy') }}
{% endblock %}

{% block content %}

<div id="main-content">
  <div class="row">
    <article id="top" class="span10" role="main">

      <hgroup id="main-feature" class="huge center">
        <h1>Your Privacy</h1>
        <h2>Putting users in control of their private information</h2>
      </hgroup>

      <nav class="menu-bar billboard">
        <ul>
          <li><a href="{{ url('privacy.firefox') }}">Firefox</a></li>
          <li><a href="{{ url('privacy.thunderbird') }}">Thunderbird</a></li>
          <li><a href="{{ url('privacy.websites') }}">Websites</a></li>
          <li><a href="{{ url('privacy.marketplace') }}">Marketplace</a></li>
          <li><a href="{{ url('privacy.persona') }}">Persona</a></li>
          <li><a href="{{ url('privacy.sync') }}">Sync</a></li>
          <li><a href="{{ url('privacy.test-pilot') }}">Test Pilot</a></li>
        </ul>
      </nav>

      <section class="container">
        <h2>Our Principles</h2>
        <p>Six core privacy principles guide our data practices and operations at Mozilla. These principles stem from the Mozilla Manifesto. 
          In short, we're a non-profit dedicated to putting the user in control and shaping the future of the Web for the public good. These 
          principles remind us that our users’ interests come first and encourage us to build a consistent approach to privacy and security:</p>
        <ol>
        <li>
          <h4>No Surprises</h4>
          <p>Only use and share information about our users for their benefit and as spelled out in our notices.</p>
        </li>
        <li>
          <h4>Real Choices</h4>
          <p>Educate users at the point that we collect any data and give them the option to opt out whenever possible.</p>
        </li>
        <li>
          <h4>Sensible Settings </h4>
          <p>Establish default settings that balance safety and user experience appropriately for each transaction.</p>
        </li>
        <li>
          <h4>Limited Data</h4>
          <p>Collect and retain the least amount of user information necessary and share data anonymously whenever possible.</p>
        </li>
        <li>
          <h4>User Control</h4>
          <p>Innovate, develop and advocate for privacy enhancements that put users in control of their online experiences.</p>
        </li>
        <li>
          <h4>Trusted Third Parties</h4>
          <p>Make privacy a key factor in selecting and interacting with partners.</p>
        </li>
        </ol>
        <p><a href="#top" class="top">back to top</a></p>
      </section>
      <section class="container">
        <h2>Your Information</h2>
        <p>We know how much you value your privacy and design our products to minimize data collection.</p>
        <p>Our privacy policies explain what our different products will and won't do with your information. If you want to know what gets
            collected when and for what reason, then be sure to check the relevant policy.</p>
        <h3>Types of Information</h3>
        <p>For us, "personal information" is either:</p>
        <ol>
            <li>information which identifies you, like your name or email address; or</li>
            <li>a combination of several pieces of information which couldn't identify you on their own, but which we think could become
                identifiable to you when combined.</li>
        </ol>
        <p>We consider information that does not fall within the definition of personal information to be "non-personal information".</p>
        <p>If we store personal information with other information that is non-personal information, we treat the combination like personal
            information. If we remove all personal information from a set of data we have about you, we treat the remaining as non-personal
            information.</p>
        <p>Finally, we treat personal information under different standards depending on its sensitivity (for example, we take special steps
            if we’re dealing with sensitive personal information) and we treat all personal information as more sensitive than non-personal
            information.</p>
        <p><a href="#top" class="top">back to top</a></p>
      </section>
      <section class="container">
        <h2>Overview of Information Uses</h2>
        <ul>
        <li>We collect non–personally identifying information, like your browser type, and potentially personal information, like your IP 
          address, to understand how our sites are being used and how to improve them. You can learn more about modifying your settings with 
          regards to this practice in Your Choices.</li>
        <li>We may ask for personal information, like your mailing address, when we need to ship you stuff, like a Mozilla membership card 
          or an awesome t-shirt, or to detect and prevent fraud.</li>
        <li>Sometimes, we post or share aggregate, non-personal information with our community to enhance their ability to improve Mozilla’s 
          products and services.</li>
        <li>We collect non-personally identifying information contributed to us by our users on an opt-in basis for research and 
          product-improvement purposes, like in Test Pilot.</li>
        <li>We never share personal information publicly if we promised to keep it confidential at the time of collection unless we have 
          your express permission to do so.</li>
        <li>We sometimes share information with employees, contractors, subsidiaries, contributors or other people working with or for us. 
          We always endeavor to make them promise not to disclose or use that information except for Mozilla-related or non-commercial purposes. We always try to put information in non-personally identifying forms when we can.</li>
        <li>When you give us suggestions, comments, and questions about our sites and products, we sometimes make them viewable by other 
          people, and they may get re-posted on other sites. Please don't include personal information when you submit comments and feedback, 
          or when you post questions or answers on our support site!</li>
        </ul>
        <p><a href="#top" class="top">back to top</a></p>
      </section>
      <section class="container">
        <h2>Your Choices</h2>
        <h3>Email</h3>
        <p>If you signed up to receive a newsletter or other email communication from Mozilla, but no longer wish to do so, you can opt out
            from receiving them by following the “unsubscribe” instructions in the next email you receive.</p>
        <h3>Do Not Track</h3>
        <p><a class="button" href="http://dnt.mozilla.org/">Do Not Track Is On</a></p>
        <p>Do Not Track is a feature in Firefox (and some other sweet browsers) which lets you tell websites that you'd rather that they don't
            keep track of you. You can read more about Do Not Track and how to turn it on in Firefox at <a href="http://dnt.mozilla.org"
            title="Read more on the Do Not track website">http://dnt.mozilla.org</a>.</p>
        <h3>Other Stuff</h3>
        <p>In all the software we make, there are many privacy and security settings. There are also plenty of privacy related add-ons for
            several of our products (like Firefox) which you can use to get even more customization over your online experience:
            <a href="https://addons.mozilla.org/en-US/firefox/extensions/privacy-security/" title="Get add-ons to manage your security and privacy">
            https://addons.mozilla.org/en-US/firefox/extensions/privacy-security/</a>.</p>
        <p><a href="#top" class="top">back to top</a></p>
      </section>
    </article>
  </div>
</div>

{% endblock %}
